    <body>
        <div class="ticket">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/7/70/User_icon_BLACK-01.png"
                alt="Logotipo">
            <p class="centrado">Olá Paciente!
                <br>Quissamã
                <br>29/07/2020 08:22 Manhã</p>
            <table>
                <thead>
                    <tr>
                        <th class="consulta">Consulta</th>
                        <th class="local">Local</th>
                        <th class="medico">Médico</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="medico">Dr. Lucas</td>
                        <td class="consulta">Oftamologista</td>
                        <td class="local">Centro de Espec.</td>
                    </tr>
                </tbody>
                
               

            </table>
            <br>
                =====================================
             <br>
             <br>
                <h1>Número na fila: 13</h1>
            <p class="centrado">Em caso de dúvidas ligue: (22) 1234-4321!
                <br><br><br>V.C. Sistemas©</p>
        </div>
    </body>
    <button class="oculto-impresion" (click)="imprimir()">Imprimir</button>